@page "/bug-create"
@using Bug.Tracker.UI.Data
@using Bug.Tracker.BugCreator
@using Bug.Tracker.Models
@inject IBugCreator BugCreatorInstance

<h1>Create a bug</h1>

@if (_newBugItem != null)
{
	<div>
		<label style="color:@BugCreationMessageColour">@BugCreationMessage</label>
	</div>

	<div>
		<button class="button button1" onclick="@(() => Clear())">Create another bug</button>
	</div>
}
else
{
	<p>Please give detail of the bug such as a descriptive title and an extensive description of the bug</p>

	<div>
		<label style="float:left; margin:5px;">Title</label>
		<input class="w3-input w3-border w3-round" style="float:left; margin:5px;" type="text" name="title" @bind-value="@BugTitle" @bind-value:event="oninput" />
	</div>

	<div>
		<label style="float:left; margin:5px;">Description</label>
		<textarea class="w3-input w3-border w3-round" style="float:left; margin:5px;" name="description" @bind-value="@BugDescription" @bind-value:event="oninput" />
	</div>
	<br />
	<div>
		<button class="button button1" style="float:left; margin:20px;" onclick="@(() => CreateBug())">Create</button>
	</div>
}

<br />
<br />

@code {
	string BugTitle { get; set; }
	string BugDescription { get; set; }

	string BugCreationMessage { get; set; }
	string BugCreationMessageColour { get; set; }
	BugItem _newBugItem = null;


	protected override async Task OnInitAsync()
	{
		Clear();
	}

	public void Clear()
	{
		BugCreationMessage = string.Empty;
		_newBugItem = null;
	}

	[Parameter] EventCallback OnBugCreated { get; set; }// the event call back when an authority is selected

	// this is called when the select authority button is clicked by the user
	void BugCreated()
	{
		OnBugCreated.InvokeAsync(null);// invoke the call back to the parent component
	}

	public async Task CreateBug()
	{
		_newBugItem = await BugCreatorInstance.CreateBug(BugTitle, BugDescription);
		if (_newBugItem == null)
		{
			BugCreationMessageColour = "red";
			BugCreationMessage = "Failed to create bug item!";
		}
		else
		{
			BugCreationMessageColour = "green";
			BugCreationMessage = $"Bug {_newBugItem.Id.ToString()} was created successfully";
			BugCreated();
		}
	}
}